#{extends 'main.html' /}
#{set title:'NLSZ - Főoldal' /}

#{if flash.errorMessage != null}
	<div><span style="color:red">${flash.errorMessage}</span></div>
#{/if}

<div class="col-11 mt-2 mx-auto">
    <div class="wrapper-editor">
        <div class="table-title p-3">
            <h2 style="text-align: center;">Nemzeti Labdarúgó Szövetség - Csapatok</h2>
        </div>
        <div class="row d-flex justify-content-center modalWrapper">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-dark">
	                    <tr>
	                        <th scope="col">Klub megnevése</th>
	                        <th scope="col">Klub székhelye</th>
	                        <th scope="col">Focisták száma</th>
	                        <th scope="col">Összes havi bérköltség</th>
	                        <th scope="col" class="text-center">Klub megtekintése</th>
	                        <th scope="col" class="text-center">Klub törlése</th>
	                    </tr>
                    </thead>
                    <tbody>
	                    #{if clubs != null}
							#{list items:clubs, as:'club'}
							<tr>
									<td>${club.clubName}</td>
									<td>${club.clubCity}</td>
									<td>${club.players.size()} fő</td>
									<td>${club.players.playerSalary.sum()} Ft</td>
									<td align="center"><a href="/clubDetails?clubId=${club.clubId}" class="btn btn-info btn-sm" role="button">Megtekintés</a>
									<td align="center"><a href="/deleteClub?clubId=${club.clubId}" class="btn btn-danger btn-sm" role="button">Törlés</a>
									</td>
							</tr>
							#{/list} 
						#{/if}
					</tbody>
                    <tfoot>
	                    <div class="justify-content-center">
	                        <td colspan="8" align="center">
	                        	<a href="/createClub" class="btn btn-success btn-bg" role="button">Új klub hozzáadása</a>
	                        </td>
	                    </div>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>